<div class="row grid-edit-view" id="grid-edit-view">
    <div class="row">
        <div class="col">
            <div id="grid-name-container" class="grid-name-container">
                <form id="edit-form">
                    <div class="name">
                        <div class="display-container">
                            <span></span>
                            <i class="edit-pencil bi bi-pencil-square" onclick="enableEdit(event)"></i>
                        </div>
                        <div class="edit-container" style="display: none;">
                            <input class="form-control" data-name="name" maxlength="32">
                            <button type="submit" class="btn btn-success btn-sm save" data-datatype="name"
                                onclick="saveNameDescription(event)">
                                <i class="bi bi-check2"></i>
                            </button>
                            <button type="button" class="btn btn-secondary btn-sm cancel" onclick="disableEdit(event)">
                                <i class="bi bi-x-lg"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <br />

            <div id="grid-description-container">
                <form id="edit-form">
                    <div class="description">
                        <p style="margin-bottom: 5px;"><b>Description:</b> </p>
                        <div class="display-container">
                            <span></span>
                            <i class="edit-pencil bi bi-pencil-square" onclick="enableEdit(event)"></i>
                        </div>
                        <div class="edit-container" style="display: none;">
                            <textarea class="form-control" data-name="description" maxlength="128"></textarea>
                            <button type="submit" id="grid-save-description-btn" data-datatype="description"
                                class="btn btn-success btn-sm save" onclick="saveNameDescription(event)">
                                <i class="bi bi-check2"></i>
                            </button>
                            <button type="button" class="btn btn-secondary btn-sm cancel" onclick="disableEdit(event)">
                                <i class="bi bi-x-lg"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <br />

            <div class="row" display="margin-bottom: 20px;">
                <div class="col">
                    <h3>Components</h3>
                </div>
                <div class="col">
                    {% if active_page == 'microgrids' %}
                    <button id="open-add-components-to-grid-modal-btn" class="btn btn-primary float-end new"
                        onclick="openAddComponentsToGridModal(event)">
                        Add Component +
                    </button>
                    {% endif %}
                </div>
            </div>

            <br />

        </div>

    </div>

    <div id="grid-no-components-message">
        This {% if active_page == 'sizing' %}Microgrid Sizing Template{% elif active_page == 'microgrids'%}Microgrid{%
        endif %} has no components yet.
    </div>

    <div class="row">
        <div class="accordion col" id="grid-components-accordion-left"></div>
        <div class="accordion col" id="grid-components-accordion-right"></div>
    </div>
</div>


<div class="modal fade add-components-to-grid-modal" id="add-components-to-grid-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Components</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                {% if active_page == 'microgrids' %}
                <button type="button" id="add-components-to-grid-btn" class="btn btn-primary"
                    onclick="addComponentsToGrid(event)">Done</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>