<div class="container tab-pane active show grids-tab" id="microgrids-tab">

  <div class="row" id="grid-main-view">
    <div class="col-12">

      <div class="row align-items-center">
        <div class="col">
          <h3 id="grids-title"></h3>
        </div>
        <div class="col">
          <button id="new-grid-modal-open-btn" type="button" class="btn btn-primary float-end new"
            onclick="handleUserQuotaCheck(event)">New +</button>
        </div>
      </div>

      <div class="row justify-content-start item-list" id="grids-list"></div>

      <br />

      <div class="row">
        <div id="no-grids-message" style="display: none;">You don't have any {% if active_page == 'sizing' %}microgrid
          sizing templates{% elif active_page == 'microgrids'%}microgrids{% endif %} yet.</div>
      </div>

    </div>
  </div>

  <div class="modal fade" id="new-grid-modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">New {% if active_page == 'sizing' %}Microgrid Sizing Template{% elif active_page ==
            'microgrids'%}Microgrid{% endif %}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="new-grid-form" onsubmit="create(event)">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Name</label>
              <input id="grid-name" class="form-control" maxlength="32" required>
              <br />
              <label for="exampleInputEmail1" class="form-label">Description</label>
              <textarea id="grid-description" class="form-control" maxlength="128"></textarea>
            </div>
            <div class="modal-footer">
              <button id="create-grid-btn" type="submit" class="btn btn-primary">Create</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="confirm-delete-grid-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm Deletion</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete <b><span class="grid-name"></span></b>? This action cannot be undone.</p>
        </div>
        <div class="modal-footer">
          <button id="delete-grid-btn" type="button" class="btn btn-danger delete" data-tabname="grid"
            onclick="deleteGrid(event)">Delete</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-tabname="grid"
            onClick="closeConfirmDeleteModal(event)">Cancel</button>
        </div>
      </div>
    </div>
  </div>

</div>
