{% extends 'authentication-codeshack/admin/layout.html' %}

{% block title %}About{% endblock %}

{% block content %}
<h2>About</h2>

<div class="content-block">

    <p>The secure login and registration system is a modified version of a
        <a class="link1" href="https://codeshack.io/package/python/advanced-secure-login-registration-system/" target="_blank">project (version 1.2.0)</a>
        developed by 
        <a class="link1" href="https://codeshack.io" target="_blank">CodeShack</a>.</p>
</div>
{% endblock %}