<div class="row">
  <div class="form-group col-md-4">
    <label for="country-selection">Country</label>
    <select 
      id='country-selection' 
      class="form-select" 
      required
      aria-label="country select" 
      aria-describedby="country-makeup-help">
      <option value="" selected disabled>Select a country</option>
    </select>
  </div>

  <div class="form-group col-md-4">
    <label for="region-selection">Region</label>
    <select 
      id='region-selection' 
      class="form-select" 
      required
      disabled
      aria-label="state or province select" 
      aria-describedby="area-makeup-help">
      <option value="" selected disabled>Select a region</option>
    </select>
  </div>

  <div class="form-group col-md-4">
    <label for="location-id-selection">Location</label>
    <select 
      name="location_id" 
      id='location-id-selection' 
      class="form-select" 
      required
      disabled
      aria-label="location select" 
      aria-describedby="area-makeup-help">
      <option value="" selected disabled>Select a location</option>
    </select>
  </div>
</div>