[JWT]
EXPIRES_DAYS=1
EXPIRES_HOURS=0
EXPIRES_MINUTES=0
EXPIRES_SECONDS=0
[FRONTEND]
HOST=0.0.0.0
PORT=8000
DEBUG=True
[AZURE]
CLIENT_ID=optional
CLIENT_SECRET=optional
TENANT_ID=optional
EMAIL_DOMAIN=optional
