[DEFAULT]
RESULTS_ROOT_DIR=required_for_offline_run_scripts
[SECURITY]
SECRET_KEY=
[JWT]
EXPIRES_DAYS=1
EXPIRES_HOURS=0
EXPIRES_MINUTES=0
EXPIRES_SECONDS=0
[MAIL]
MAIL_SERVER=required_for_web_app_user_accounts
MAIL_PORT=required_for_web_app_user_accounts
MAIL_USERNAME=required_for_web_app_user_accounts
MAIL_PASSWORD=required_for_web_app_user_accounts
MAIL_USE_TLS=False
MAIL_USE_SSL=False
MAIL_REPLY_TO=required_for_web_app_user_accounts
[FRONTEND]
HOST=0.0.0.0
PORT=8000
DEBUG=True
URL=http://0.0.0.0:8000
[API]
HOST=0.0.0.0
PORT=5000
DEBUG=True
[AZURE]
CLIENT_ID=optional
CLIENT_SECRET=optional
TENANT_ID=optional
EMAIL_DOMAIN=optional
[QUOTA]
COMPONENT=100
GRID=100
POWERLOAD=100
DISTURBANCE=100
REPAIR=100
POWERLOAD_FILE_LINES=9000
SIZING=1000
RESILIENCE_RUNS=1000
[DER]
PV_CHARS_FILE=data/photovoltaic_characteristics/location_name.json
[SSH]
KEY_FILENAME=path_to_your_rsa_id,required_for_slurm
[SLURM]
HOST=web_app_functionality_is_limited_if_blank
PORT=22
USERNAME=web_app_functionality_is_limited_if_blank
WORKING_DIRECTORY=microgrid
