a {
  color: #0056b3 !important;
  text-decoration: none !important;
}


#mobile-nav-btn {
  border: 1px solid white;
  border-radius: 3px;
  padding: 2px 11px 2px 11px;
  align-items: center;
  display: none;
}

#mobile-nav-btn:active, #mobile-nav-btn:focus {
  border: 2px solid rgba(255,255,255,.75);
}

#mobile-nav-btn i {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.footer .container {
  display: flex;
  align-items: center;
}

.footer .nps-logo {
  width: 4rem;
  margin-right: 20px;
}

.content {
  margin-top: 30px;
  margin-bottom: 20px;
}

.app-logo-title-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.app-logo-title-container .app-logo {
  margin-right: 10px;
  width: 40px;
}

.app-logo-title-container h1 {
  width: max-content;
}

#navtop-links-container {
  display: flex ;
  flex-wrap: wrap;
}

.sign-in-options {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 30px;
}

#oauth-login-azure_activedirectory_v2 {
  border: 0px;
  padding: 10px;
  border: 1px solid #cccccc;
  margin-top: 25px;
  margin-bottom: 70px;
}

#oauth-login-azure_activedirectory_v2 img {
  margin-right: 10px;
}

#oauth-login-azure_activedirectory_v2:hover {
  background-color: #f7f7f7;
  border: 1px solid #d9d9d9;
}

.btn.btn-primary {
  background-color: #243751;
  border-color: #243751;
}

.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
  background-color: #3A4C65 !important;
  border-color: #3A4C65 !important;
}

section.home ul { margin-top: -0.5rem; margin-bottom: 0.5rem; }
section.home p.multiple-paragraphs { margin-top: -0.5rem; }

.navtop .container .app-logo-title-container a { padding: 0px; }

.show-nav-dropdown {
  display: flex !important;
}

@media screen and (max-width: 1000px) {
  
  #navtop-links-container {
    display: none;
    flex-direction: column;
    align-items: end;
    width: 100%;
    margin-top: 20px;
  }

  #navtop-links-container a {
    width: 100%;
    border-top: 2px solid #47566b;
    text-align: center;
    display: block;
    padding-right: 20px;
  }

  #navtop-links-container a:last-child {
    border-bottom: 2px solid #47566b;
  }

  #navtop-links-container a:hover {
    background-color: #47566b;
  }

  #mobile-nav-btn {
    border: 1px solid white;
    border-radius: 3px;
    padding: 2px 11px 2px 11px;
    align-items: center;
    display: flex;
  }

}
