
#powerload-file {
  margin-top: 10px;
}

#powerload-file-info-modal .modal-dialog {
  width: 100%;
  max-width: 700px;
}

#powerload-table-container {
  max-height: 433px;
  overflow-y: scroll;
}

#powerload-view #powerload-table-container {
  width: 100%;
  max-width: 300px;
  margin-right: 20px;
}

#powerload-view .powerload-graph-and-table {
  display: flex;
}

#powerload-view #powerload-graph-container {
  width: 100%;
  max-width: 500px;
}

table {
  border-collapse: collapse;
  color: #333;
  background-color: #F7F6F3;
}   

table thead { font-weight: bold; background-color: #CCC; cursor: default; }
table tbody tr:hover { background-color: #FFC; }

td { border: solid 1px #CCC; padding: 0 1ex;}
.even { color: #284775; background-color: White; }
.left { text-align: left; }
.right { text-align: right; }
.center {text-align: center;}
/* .add { color: green; }
.minus { color: red; }  */

.table-responsive {
  height:480px; width:70%;    
  border:2px solid #444;
}  

.table-responsive:hover { border-color:red; } 

.table-fix-head { overflow-x: auto; height: 400px; }
.table-fix-head thead th { position: sticky; top: 0; z-index: 1; background-color: #CCC;} 

/* Borders (if you need them) */
.table-fix-head,
.table-fix-head td {
  box-shadow: inset 1px -1px #000;
}

.table-fix-head th {
  box-shadow: inset 1px 1px #000, 0 1px #000;
} 
