{% extends 'layout.html' %}
   
{% block head %}
<title>Microgrid Planner</title>
{% endblock %}

{% block title %}Microgrid{% endblock %}

{% block content %}

<div class="container content">
  <section id="intro" class="home">
      <h2>A Suite of Tools</h2>
      <p>
          Microgrid Planner is a peer-reviewed open-source suite of web tools designed to assist with
          the early stages of microgrid planning. Our technology stack includes Python, MySQL, Flask, JavaScript, jQuery, Bootstrap, HTML, CSS, and Docker. We are distributing our codebase as open-source software for two reasons: (1) allow others in the scientific community to deploy microgrid planning methods that would otherwise be purely methodological research endeavors, due to a lack of resources to develop the infrastructure required for deployment; and (2) encourage others to contribute to the future development of our suite of tools. We welcome both feedback and collaboration opportunities. 
      </p>
      <p>
        Note: registering an account is required to access the complete set of software features; the guest account demonstrates a limited number of the available features.
      </p>
  </section>
  
  <section id="citation" class="home">
    <h2>Citing our Platform</h2>
    <p>
        To cite this software, please cite both our paper <a href="https://doi.org/10.1287/ijoc.2023.0336" target="_blank">Microgrid Planner: An Open-Source Software Platform</a> published in <i>INFORMS Journal on Computing</i> and its corresponding <a href="https://doi.org/10.1287/ijoc.2023.0336.cd" target="_blank">GitHub repository</a>.
    </p>
  </section>

  <section id="contributors" class="home">
    <h3>Software Contributors</h3>
    <p>
        Microgrid Planner</a> was developed by
        <ul>
            <li><a href="https://www.linkedin.com/in/reichd/" target="_blank">
                Daniel Reich</a>, 2020-present</li>
            <li><a href="https://www.linkedin.com/in/leah-frye/" target="_blank">
                Leah Frye</a>, 2022-present</li>
        </ul>
    </p>
    <p>
        with contributions from
        <ul>
            <li><a href="https://www.linkedin.com/in/hyatt-moore-iv-382178a/" target="_blank">
                Hyatt Moore</a>, proof of concept JavaScript and MySQL contributor, 2021-2022</li>
            <li><a href="https://www.linkedin.com/in/bruce-v-chiarelli-64853917/" target="_blank">
                Bruce Chiarelli</a>, Docker contributor and deployment lead 2021-2023</li>
            <li><a href="https://www.linkedin.com/in/jeffhaferman/" target="_blank">
                Jeff Haferman</a>, Naval Postgraduate School High-Performance Computing support, 2023-present</li>
            <li><a href="https://www.linkedin.com/in/philip-mccullick-6529977/" target="_blank">
                Philip McCullick</a>, Docker contributor and deployment lead 2023-present</li>
        </ul>
        Our front-end authentication code is a modified and extended version of the <a href="https://codeshack.io/package/php/advanced-secure-login-registration-system/" target="_blank">Advanced Secure Login & Registration System</a> developed by <a href="https://codeshack.io/" target="_blank">CodeShack</a>.
    </p>
  </section>

  <section id="release" class="home">
    <h3>Release Notes</h3>
    <p class="multiple-paragraphs">
        Version 1.1 - September 2023
        <ul>
            <li>Updated GUI</li>
            <li>Refactored code with improved organization and efficiency</li>
        </ul>
    </p>
    <p class="multiple-paragraphs">
        Version 1.0 - March 2023
        <ul>
            <li>User accounts with authentication</li>
            <li>User-defined components for diesel generators, photovoltaic systems, wind turbines and battery energy storage systems</li>
            <li>User-defined grids</li>
            <li>Upload and storage of powerload data</li>
            <li>Integration of Version 0.0 simulation methods with user-defined grids and powerload data</li>
            <li>Simulation method for measuring resilience of user-defined grids, using user-defined disturbance probabilities and repair times</li>
            <li>Data farming method for performing sensitivity analysis on grids (offline only)</li>
        </ul>
    </p>
    <p>
        Version 0.0 - November 2021
        <ul>
            <li>Simulation with parameter inputs for one diesel generator, one photovoltaic system, one wind turbine and one battery energy storage system</li>
            <li>Simulation with parameter inputs for multiple diesel generators, photovoltaic systems, wind turbines and battery energy storage systems (offline only)</li>
            <li>Distributed energy resource sizing method for one diesel generator, one photovoltaic system and one battery energy storage system (offline only)</li>
        </ul>
    </p>
  </section>
</div>
{% endblock %}
