.widget-container {
  width: 100%;
  gap: 30px;
}

.widget {
  width: 412px;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.4);
  background-color: white;
  border-radius: 5px;
}

.widget .card {
  margin-bottom: 0px;
  border: 0px;
}

.widget .components-mini-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  word-wrap: break-word;
}

.widget .components-mini-list .d-flex {
  float: none;
  padding-top: 0px;
  padding-bottom: 0px;
  min-width: 190px;
}

.widget .card-body .components-mini-list span {
  font-size: .8rem;
}

.widget .components-mini-list .d-flex .icon-quantity-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.widget .components-mini-list .text {
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 145px;
}

.widget .components-mini-list .name {
  overflow: hidden;
  white-space: nowrap;
}

.widget .components-mini-list .text-secondary {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}


.widget .components-mini-list .d-flex {
  background-color: #F3F4F7;
  padding: 10px;
  width: 46%;
  float: left;
  margin-top: 15px;
  margin-right: 15px;
  height: 90px;
}

.widget .components-mini-list div img {
  width: 2rem;
}

.widget .components-mini-list .align-items-end {
  align-items: center !important;
}

.widget .widget-data {
  min-height: 211px;
  max-height: 227px;
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.widget h5:not(.card-title) {
  background-color: #52637A;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 0px;
  color: white;
}

.grid-stats-container {
  gap: 6px;
  justify-content: space-between;
}

.grid-stats-container b, .grid-stats-container span {
  font-size: .8rem;
}

