{% extends 'tools/layout.html' %}

{% block content2 %}
<div class="submenu">
  <a href="{{ url_for('resilience.disturbances') }}">
    <div class="submenu-item {% if active_sub_page == 'disturbances' %}active{% endif %}">
      Disturbances
    </div>
  </a>
  <a href="{{ url_for('resilience.repairs') }}">
    <div class="submenu-item {% if active_sub_page == 'repairs' %}active{% endif %}" data-subpagename="results">
      Repairs
    </div>
  </a>
  <a href="{{ url_for('resilience.run') }}">
    <div class="submenu-item {% if active_sub_page == 'run' %}active{% endif %}">Run Analysis</div>
  </a>
</div>
{% block content3 %}{% endblock %}
{% endblock %}
