{% extends 'tools/layout.html' %}

{% block head2 %}
<link rel="stylesheet" type="text/css" href="/static/css/simulate.css" />
{% endblock %}

{% block content2 %}
<div class="row">
  <div class="col">
    <h3>Simulate</h3>
    <br />
  </div>

  <div class="col-12">
    <div class="row">

      <form id="simulate-form" class="run-form" onsubmit="runSimulation(event)">

        <div class="row">
          <div class="form-group col-md-2 align-self-end">
            <label for="simulatestartdatetime">Simulation Start</label>
            <input data-name="startdatetime" type="text" class="form-control" required id="simulatestartdatetime"
              autoComplete="off">
          </div>

          <div class="form-group col-md-4 align-self-end">
            <label for="simulateGridSelection">Microgrid</label>
            <select data-name="grid_id" id='simulateGridSelection' class="form-control" required
              aria-label="Grid makeup select" aria-describedby="simulate-grid-makeup-help">
              <option value="" selected disabled>Select a microgrid</option>
            </select>
          </div>

          <div class="form-group col-md-4 align-self-end">
            <label for="simulateload_id">
              Powerload
            </label>
            <select data-name="load_id" id='simulatePowerloadSelection' class="form-select" required
              aria-label="powerload select">
              <option value="" selected disabled>Select powerload</option>
            </select>
          </div>

          <div class="form-group col-md-2 align-self-end">
            <button id="simulation-run-btn" type="submit" class="btn btn-primary align-self-end">
              Run Simulation
            </button>
            <button id="simulation-load-btn" class="btn btn-primary align-self-end" type="button" style="display: none;"
              disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Loading...
            </button>
          </div>
        </div>


        <!--<div class="form-group">
                    <label for="simulateCountrySelection">Country</label>
                    <select data-name="country" id='simulateCountrySelection' class="form-select" required aria-label="country select" aria-describedby="country-help">
                      <option value="" selected disabled>Select a country</option>
                    </select>
                  </div>
      
                  <div class="form-group">
                    <label for="simulateStateSelection">State/Province</label>
                    <select data-name="state" id='simulateStateSelection' class="form-select" required aria-label="state select" aria-describedby="state-help">
                      <option value="" selected disabled>Select a state</option>
                    </select>
                  </div>-->

        <div class="form-group" style="display:none;">
          <label for="simulateStationSelection">
            Station
          </label>
          <select data-name="location_id" id='simulateStationSelection' class="form-select" required
            aria-label="Location select" aria-describedby="simulateStation-help">
            <option value="1" selected disabled>Select a station</option>
          </select>
        </div>


        <button type="button" id="simulation-load-btn" class="btn btn-primary" style="display:none;">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <span>Loading...</span>
        </button>

      </form>

    </div>
    <div class="row" id="simulateD3Row" style="display:none;">
      <div class="col large-graph-container">
        <div class="row mb-3">
          <h3>Power vs. Time</h3>
        </div>
        <div class="row mb-3">
          <div id="powerVsTimeGraph"></div>
        </div>
      </div>
      <div class="col mini-graph-container">
        <div>
          <h5>Unmet Power (negative) vs. Time<br/>Excess Power (positive) vs. Time</h5>
        </div>
        <div>
          <div id="excessPowerGraph"></div>
        </div>
        <div>
          <h5>State of Charge vs. Time</h5>
        </div>
        <div>
          <div id="chargeStateGraph"></div>
        </div>
      </div>

    </div>
  </div>

  <div class="-modal modal fade" id="simulateLoadModal1" tabindex="-1" role="dialog"
    aria-labelledby="simulateLoadModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">X</button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-20">
                <h2 class="modal-title text-secondary text-uppercase mb-0" id="portfolioModal1Label">
                  Powerload
                </h2>
                <div class="row" id='simulatePowerloadD3'>
                  <div id="tab1-col1" class="col">
                    <div class="row gx-0">
                      <div id="simulatePowerloadTable" class="table-fix-head table-responsive"></div>
                    </div>
                  </div>
                  <div class="col">
                    <div id="simulatePowerloadGraph"></div>
                  </div>
                </div>
                <button class="btn btn-primary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/helpers-graph.js"></script>
<script src="/static/js/LineGraph.js"></script>
<script src="/static/js/simulate.js"></script>
{% endblock %}