{% extends 'tools/layout.html' %}

{% block head2 %}
<link rel="stylesheet" type="text/css" href="/static/css/powerloads.css" />
{% endblock %}

{% block content2 %}

<div class="row" id="powerload-main-view">
  <div class="col-12">

    <div class="row align-items-center">
      <div class="col">
        <h3 id="powerloads-title">Your Powerloads</h3>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary float-end new" data-type="powerload"
          onclick="handleUserQuotaCheck()">New +</button>
      </div>
    </div>

    <div class="row justify-content-start item-list" id="powerloads-list"></div>

    <div class="row">
      <div id="no-powerloads-message" style="display: none;">You don't have any powerloads yet.</div>
    </div>

  </div>
</div>
</div>

<div class="modal fade" id="new-powerload-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Powerload</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="new-powerload-form" class="form-control needs-validation" data-tabName="powerload"
          onsubmit="onUploadClicked(event)">
          <div class="mb-3">
            <span>
              Upload a new powerload <i id="powerload-info-btn" class="bi bi-info-circle info-btn"
                onclick="openPowerloadInfoModal(event)"></i>
            </span>
            <input class="form-control" data-name="file" type="file" id="powerload-file" accept=".csv" required
              onchange="handleUpload(event)">
          </div>
          <div class="mb-3">
            <label for="powerload-name" class="form-label">Name</label>
            <input class="form-control" data-name="name" id="powerload-name" maxlength="32" required>
          </div>
          <div class="mb-3">
            <label for="powerload-description" class="form-label">Description</label>
            <textarea id="powerload-description" data-name="description" class="form-control"
              maxlength="128"></textarea>
          </div>
          <div class="modal-footer">
            <button id="upload-btn" type="submit" class="btn btn-primary align-self-end">
              Upload
            </button>
            <button id="upload-load-btn" class="btn btn-primary align-self-end" type="button" style="display: none;"
              disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Loading...
            </button>
            <button id="cancel-add-powerload-btn" type="button" class="btn btn-secondary" data-tabname="powerload"
              onClick="closeCreateNewModal(event)">
              Cancel
            </button>
          </div>
          <div id="new-powerload-error"></div>
          <div id="powerload-preview-container">
            <caption>File contents (maximum of 15 rows shown)</caption>
            <div id="powerload-preview"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirm-delete-powerload-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Deletion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete <b><span class="powerload-name"></span></b>? This action cannot be undone.
        </p>
      </div>
      <div class="modal-footer">
        <button id="delete-powerload-btn" type="button" class="btn btn-danger delete" data-tabname="powerload"
          onclick="deletePowerload(event)">Delete</button>
        <button id="close-confirm-delete-powerload-btn" type="button" class="btn btn-secondary" data-tabname="powerload"
          onClick="closeConfirmDeleteModal(event)">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="powerload-file-info-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Powerload Files</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>The powerload file must be in CSV format with exactly two columns where the first column is time in hours and
          the second column is power in kilowatts. The file may contain an optional header row.</p>
        <p>Here are two example files both containing the powerload data in the application guest account: </p>
        <a href="/static/data/powerload_example_no_header.csv">CSV example file without headers</a>
        <br />
        <a href="/static/data/powerload_example_with_header.csv">CSV example file with headers</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/LineGraph.js"></script>
<script src="/static/js/helpers-table.js"></script>
<script src="/static/js/helpers-graph.js"></script>
<script src="/static/js/powerload/all.js"></script>
{% endblock %}