{% extends 'tools/layout.html' %}

{% block head2 %}
<link rel="stylesheet" type="text/css" href="/static/css/powerloads.css" />
<meta name="id" content="{{ id }}" />
{% endblock %}

{% block content2 %}

<div class="row" id="powerload-edit-view">
  <div class="container tab-pane fade active show" id="powerload-view">
    <div class="row">
      <div class="col">

        <div id="powerload-name-container" class="powerload-name-container">
          <form id="edit-form">
            <div class="name">
              <div class="display-container">
                <span></span>
                <i class="edit-pencil bi bi-pencil-square" onclick="enableEdit(event)"></i>
              </div>
              <div class="edit-container" style="display: none;">
                <input class="form-control" data-name="name" maxlength="32">
                <button type="submit" class="btn btn-success btn-sm save" data-datatype="name"
                  onclick="saveNameDescription(event)">
                  <i class="bi bi-check2"></i>
                </button>
                <button type="button" class="btn btn-secondary btn-sm cancel" onclick="disableEdit(event)">
                  <i class="bi bi-x-lg"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
        <br />

        <div id="powerload-description-container">
          <form id="edit-form">
            <div class="description">
              <p style="margin-bottom: 5px;"><b>Description:</b> </p>
              <div class="display-container">
                <span></span>
                <i class="edit-pencil bi bi-pencil-square" onclick="enableEdit(event)"></i>
              </div>
              <div class="edit-container" style="display: none;">
                <textarea class="form-control" data-name="description" maxlength="128"></textarea>
                <button type="submit" id="powerload-save-description-btn" data-datatype="description"
                  class="btn btn-success btn-sm save" onclick="saveNameDescription(event)">
                  <i class="bi bi-check2"></i>
                </button>
                <button type="button" class="btn btn-secondary btn-sm cancel" onclick="disableEdit(event)">
                  <i class="bi bi-x-lg"></i>
                </button>
              </div>
            </div>
          </form>
        </div>

        <br/>
        <br/>

        <div class="powerload-graph-and-table">
          <div id="powerload-table-container"></div>
          <div id="powerVsTimeGraph"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="/static/js/LineGraph.js"></script>
<script src="/static/js/helpers-table.js"></script>
<script src="/static/js/helpers-graph.js"></script>
<script src="/static/js/powerload/single.js"></script>
{% endblock %}